Repository alexlam184/emla-chat-web: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn check-types, yarn lint, yarn format

.lintstagedrc.json:

{
  "*.{ts,tsx}": "yarn check-types",
  "*.{ts,tsx,js}": ["yarn lint", "yarn format"],
  "*.{json,md}": "yarn format"
}

the buttons are now working, but links are displayed in text chat
  src/App.tsx
Due: yarn check-types, yarn lint, yarn format

reformatted some code
  src/App.tsx
Due: yarn check-types, yarn lint, yarn format

delete env file
  .env
Due: none

readme change
  README.md
Due: yarn format

delete button
  src/App.tsx
Due: yarn check-types, yarn lint, yarn format

test
  src/App.tsx
Due: yarn check-types, yarn lint, yarn format

update url
  src/App.tsx
  src/global/logic/OpenAIManager.tsx
Due: yarn check-types, yarn lint, yarn format

style : responsive
  src/App.tsx
  src/components/ChatBox/Upperfield.tsx
  src/components/common/TabsSwitch.tsx
Due: yarn check-types, yarn lint, yarn format
